{% from '_macros.html' import render_field %}

<!doctype html>
<html>
<head>
<title>Sign Up With Con-Necta.com!</title>

<script type="text/javascript">
function show_student() {
   document.getElementById('prefs_student').style.display = "block";
   document.getElementById('prefs_alumni').style.display = "none";
}
function show_alumni() {
   document.getElementById('prefs_student').style.display = "none";
   document.getElementById('prefs_alumni').style.display = "block";
}
</script>
</head>
<body>

<!--          COPIED FROM LOGIN.HTML         -->


{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <button type="submit" class="btn btn-primary btn-large">Login with {{ display_name }}</button>
  </form>
{% endmacro %}

<div class="page-header">
  <h1>Sign Up</h1>
</div>
<div class="row content">
  <div class="span4 offset1">
    <form class="well" action="{{ url_for('signup') }}"
    method="POST">
      {{ url_for('security.login') }}
      {{ form.hidden_tag() }}
      {{ render_field(form.email) }} <br>
      {{ render_field(form.password) }} <br>
      {{ render_field(form.verifpwd) }} <br>
      Please select your status:<br>
      <input type="button" name="student" value="student" 
             onclick="show_student()">
      <input type="button" name="alumni" value="alumni"
             onclick="show_alumni()">   <br>
      <div id="prefs_student" style="display: none;">
          {{ render_field(form.student_interests) }} <br>
      </div>
      <div id="prefs_alumni" style="display: none;">
          {{ render_field(form.alumni_interests) }} <br>
      </div>

      <button type="submit" class="btn btn-primary btn-large">Create Account</button>
    </form>
  </div>


<!--
  <div class="span2 col2">
    <h3>OR</h3>
  </div>
  <div class="span4 col3">
    {{ social_login('twitter', 'Twitter' )}}
    {{ social_login('facebook', 'Facebook' )}}
    <!-- {{ social_login('github', 'GitHub' )}} -->
  </div>
-->
</div>
</body>
</html>
