{% from '_macros.html' import render_field %}

<!doctype html>
<html>
<head>
<title>Sign Up</title>

<link rel="stylesheet" type="text/css" href="/static/css/main.css">

<script type="text/javascript">
function show_prefs() {
    var radios = document.getElementsByName('student_or_alumni');
    var length = radios.length;
    for(var i = 0;  i < length;  i++) {
        var the_div = document.getElementById('prefs_' + radios[i].value)
        if (radios[i].checked) {
            the_div.style.display = "block";
        } else {
            the_div.style.display = "none";
        }
    }
}

window.onload=function(){show_prefs()};
</script>
</head>
<body>

<!--          COPIED FROM LOGIN.HTML         -->


{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}"
      method="POST">
    <button type="submit" class="btn btn-primary btn-large">
     Login with {{ display_name }}
    </button>
  </form>
{% endmacro %}


<div class="page-header">
  <h1>Sign Up</h1>
</div>
<div class="row content">
  <div class="span4 offset1">
    <form class="well" action="{{ url_for('signup') }}"
    method="POST">
      {{ wtform.hidden_tag() }}
      {{ render_field(wtform.email) }} <br>
      {{ render_field(wtform.password) }} <br>
      {{ render_field(wtform.verifpwd) }} <br>
      Please select your status:<br>

      <label for="student_radio">Student</label>
      <input type="radio" id="student_radio" name="student_or_alumni"
             value="student" onclick="show_prefs()" {{ student_checked }}>

      <label for="alumni_radio">Alumni</label>
      <input type="radio" id="alumni_radio" name="student_or_alumni"
             value="alumni" onclick="show_prefs()" {{ alumni_checked }}> <br>
    
      <div class="interests" id="prefs_student" style="display: none;">
          {{ render_field(wtform.student_interests) }} <br>
          <button type="submit" class="btn btn-primary btn-large">
              Create Account
          </button>
      </div>
      
      <div class="interests" id="prefs_alumni" style="display: none;">
          {{ render_field(wtform.alumni_interests) }} <br>
          <button type="submit" class="btn btn-primary btn-large">
              Create Account
          </button>
      </div>

    </form>
  </div>


<!--
  <div class="span2 col2">
    <h3>OR</h3>
  </div>
  <div class="span4 col3">
    {{ social_login('twitter', 'Twitter' )}}
    {{ social_login('facebook', 'Facebook' )}}
    {{ social_login('github', 'GitHub' )}}
  </div>
-->
</div>
</body>
</html>
